@inherits LayoutComponentBase
@using DSATools.Shared

<main>
    <Navbar />
    
    <article class="content">
        @Body
    </article>
    
    <Footer />
</main>

<style>
    .content
    {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
</style>