@page "/"
@inject NavigationManager Navigation

<PageTitle>DSA Tools</PageTitle>

<h1>DSA Tools</h1>

@code 
{
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("actionkit-helper", true);
    }
}