<p>@(Data.Count) Members</p>

<div class="preview">
    <table class="table">
        <thead>
            <tr>
                @if (Data != null && Data.Any())
                {
                    foreach (var header in Data.First().Keys)
                    {
                        <th>@header</th>
                    }
                }
            </tr>
        </thead>
        <tbody class="table-body">

            @if (Data != null && Data.Any())
            {
                bool Checker = false;

                foreach (var row in Data)
                {
                    <tr class="@(Checker ? "checker" : "")">
                        @foreach (var cell in row.Values)
                        {
                            <td>@cell</td>
                        }
                    </tr>
                    
                    Checker = !Checker;
                }
            }
        </tbody>
    </table>
</div>

<style>
    .preview
    {
        height: 500px;
        overflow-y:scroll;
        overflow-x:scroll;
    }
    
    th 
    {
        position: sticky;
        top: 0;
        background-color: var(--dsa-web-gray);
        z-index: 1;
        text-align: left;
    }
    
    .table
    {
        border-color: var(--dsa-web-gray);
        width: 100%;
        border-collapse: collapse;
    }
</style>

@code
{
    [Parameter]
    public List<IDictionary<string, object>> Data { get; set; } = null!;
}
